# **1강 연습 문제 세트 & 목표 문제**
※ 이 자료는 헤이밥 코딩테스트 강의를 위한 자료입니다.    
수강생들만을 위한 자료로, 무단 배포를 금합니다.

 ### 📝 복습 문제 1: 문자열 길이 필터링 함수 제작

**문제 설명**  
알파벳으로 이루어진 문자열 하나를 입력받아, **"길이가 5 이상인 경우에만"** 문자열 전체를 대문자로 변환하여 반환하는 함수를 정의하시오.  
길이가 5 이하라면 **'길이가 5 이하입니다'** 메시지를 반환합니다.

**예시**  
- 입력: `'abc'`  
  출력: `'길이가 5 미만입니다'`  
- 입력: `'abcde'`  
  출력: `'ABCDE'`

In [4]:
# TODO
def filter_str():
    str = input()
    if len(str) >= 5:
        print(str.upper())
    else:
        print('길이가 5 이하입니다')
        
filter_str()

ABCED

### 📝 복습 문제 2: N 이하 짝수 제곱수 리스트 반환하는 함수 제작

**문제 설명**  
정수 N을 입력받아, N 이하의 숫자 중에서 짝수만을 제곱하여 리스트를 만들어 반환하는 함수를 정의하시오.

**예시**  
- 입력: `N = 5`  
  출력: `[4, 16]`  
- 입력: `N = 10`  
  출력: `[4, 16, 36, 64, 100]`

In [18]:
# TODO

N = input()

def square_input(N):
    N = int(N)
    result = [ i*i for i in range(0,N+1,2) if i != 0 ]
    print(result)
square_input(N)

[4, 16, 36, 64, 100]

### 📝 복습 문제 3: 리스트 컴프리헨션을 이용하여 특정 문자 변형하기

**문제 설명**  
리스트 컴프리헨션을 이용하여, 알파벳으로 된 이름의 특정 문자(`e`)만 2개로 늘려서 변형시키는 코드를 작성해 봅시다!

```python
name = 'Heybob'
new_name_list = [# TODO]
new_name = ''.join(new_name_list)
print(new_name)
```

**예시**  
- 입력: `name = 'Heybob'`  
  출력: `'Heeybob'`

In [22]:
# TODO
name = 'Heybob'
new_name_list = [ i if i != 'e' else i*2 for i in name ]
new_name = ''.join(new_name_list);
print(new_name)

Heeybob

### 📝 복습 문제 4: `map` 함수와 람다 함수를 활용하여 특정 문자 변형하기

**문제 설명**  
`map` 함수와 람다 함수를 활용하여, 알파벳으로 된 이름의 특정 문자(`e`)만 2개로 늘려서 변형시키는 코드를 작성해 봅시다!

```python
name = 'Heybob'
new_name_list = list(map(#TODO, name))
new_name = ''.join(new_name_list)
print(new_name)

In [29]:
# TODO
name = 'Heybob'
new_name_list = list(map(lambda x:x*2 if x == 'e' else x, name))
new_name = ''.join(new_name_list);
print(new_name)

Heeybob

### 📝 복습 문제 5: 리스트 변환 및 `zip` 함수 활용하기

**문제 설명**  
다음과 같이 길이가 같은 사람 이름과 나이가 '공백으로 구분된 문자열'로 입력됩니다.

In [30]:
names = '가희 라희 나희 다희 마희'
ages = '32 22 34 54 28'


1. 각 문자열을 리스트로 변환하고, `ages`는 정수의 리스트로 변환하세요.

In [47]:
# TODO
print(names.split())
names_list = names.split()
print(list(map(lambda x : int(x), ages.split())))
ages_list = list(map(lambda x : int(x), ages.split()))

['가희', '라희', '나희', '다희', '마희']
[32, 22, 34, 54, 28]



2. 리스트 컴프리헨션을 이용하여, 이름과 나이 리스트의 정보를 다음과 같은 2차원 배열로 만드세요.

In [ ]:
# 예시 출력: [['가희', 32], ['라희', 22], ['나희', 34], ['다희', 54], ['마희', 28]]
    
res = [[names_list[i], ages_list[i]] for i in range(5)]
    
print(res)

[['가희', 32], ['라희', 22], ['나희', 34], ['다희', 54], ['마희', 28]]



3. `zip()` 함수를 이용하여, 이름과 나이 리스트의 정보를 다음과 같은 'list of tuples'로 만드세요.

In [45]:
# 예시 출력: [('가희', 32), ('라희', 22), ('나희', 34), ('다희', 54), ('마희', 28)]
res2 = [ x for x in zip(names_list, ages_list)]
print(res2)

[('가희', 32), ('라희', 22), ('나희', 34), ('다희', 54), ('마희', 28)]

## **⛳ 1강 목표 문제 : 2차원 최댓값**
[BOJ 2566](https://www.acmicpc.net/problem/2566)

In [ ]:
# input 받아서 하는 경우
N, M = list(map(int, input().split()))

arr = [ list(map(int, input().split())) for _ in range(N)]

In [28]:
# input을 주는 경우
my_input = '''
90 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
'''

arr = [ list(map(int, row.strip().split())) for row in my_input.strip().split('\n')]

In [ ]:
def find_max(arr):
    max, x, y = [0] * 3
    for i in range(9):
        for j in range(9):
            if arr[i][j] >= max: # 같거나 크면!!
                max = arr[i][j] 
                x = i + 1
                y = j + 1
    print(max)
    print(x, y)

find_max(arr)

90
1 1

In [ ]:
# 백준용
arr = [ list(map(int, input().split())) for _ in range(9)]
max, x, y = [0] * 3
for i in range(9):
    for j in range(9):
        if arr[i][j] >= max:
            max = arr[i][j] 
            x = i + 1
            y = j + 1
print(max)
print(x, y)

90
1 1

In [ ]:
# 코랩에서 a = input() 실행 후 다음을 붙여넣어 보시면, 붙여넣는 과정에서 입력받은 것이 전부 한 줄로 포맷팅이 되어 버립니다.
'''
90 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
'''

In [2]:
a = input()

In [3]:
print(a)

''' 90 23 85 34 17 74 25 52 65 10 7 39 42 88 52 14 72 63 87 42 18 78 53 45 18 84 53 34 28 64 85 12 16 75 36 55 21 77 45 35 28 75 90 76 1 25 87 65 15 28 11 37 28 74 65 27 75 41 7 89 78 64 39 47 47 70 45 23 65 3 41 44 87 13 82 38 31 12 29 29 80 '''

90
0 0

# **1강 추가 연습**
**Solved.ac 백준 문제 단계별 컬렉션 활용하기**
[Solved.ac 바로가기](https://solved.ac/problems/level)

### 추천 문제

###필수 추천 문제

다음 6개 문제는 꼭 풀어보신 후에 추가적으로 [solved.ac](https://solved.ac)에서 문제들을 찾아  풀어보시면 됩니다!

1. **모음의 개수** - [백준 1264번](https://www.acmicpc.net/problem/1264)
2. **행렬 덧셈** - [백준 2738번](https://www.acmicpc.net/problem/2738)
3. **X 보다 작은 수 세기** - [백준 10871번](https://www.acmicpc.net/problem/10871)
4. **나머지** - [백준 3052번](https://www.acmicpc.net/problem/3052)
5. **최댓값 구하기 문제** - [백준 2562번](https://www.acmicpc.net/problem/2562)
6. **그룹 단어 체커** - [백준 1316번](https://www.acmicpc.net/problem/1316)

### 도전 문제 추천

조금 더 난이도가 있는 문제에 도전해보고 싶으신 분들께 추천합니다!

1. **핸드폰 요금** - [백준 1267번](https://www.acmicpc.net/problem/1267)
2. **꼬리를 무는 숫자 나열** - [백준 1598번](https://www.acmicpc.net/problem/1598)

In [ ]:
# TODO