# 1유형
- 교재 147p 부터 참고

#### 필터링, 최솟값, 중앙값
1. f5 컬럼이 0이 아닌 데이터(행)을 구하시오
2. 앞에서 구한 데이터에 'views' 컬럼 결측치를 'views'컬럼의 최솟값으로 채우기
3. 그리고 'views' 컬럼의 중앙값을 계산하여 정수로 구하기

In [9]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       116 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB

In [11]:
# 0이 아닌 데이터(행) 구하기
df[df['f5'] != 0]

        id    age city    f1  f2    f3    f4         f5  subscribed    views
0     id01    2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02    9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12   2534.0
2     id03   27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16   7312.0
3     id04   75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21    493.0
4     id05   24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07   1338.0
..     ...    ...  ...   ...  ..   ...   ...        ...         ...      ...
97    id97  100.0   경기   NaN   0  gold  INFP  67.886373  2024-03-18   6687.0
98    id98   39.0   경기  58.0   2   NaN  INFP  98.429899  2024-10-02    865.0
99    id99    1.0   경기  47.0   0  gold  ESFJ  97.381034  2024-12-02   6090.0
100  id100   47.0   경기  53.0   0   vip  ESFP  33.308999  2024-02-21  15535.0
101   id68   35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29   8599.0

[102 rows x 10 columns]

In [12]:
# 결측치 최솟값으로 채우기
df['views'].fillna(df['views'].min(), inplace=True)

In [14]:
# views 컬럼 중앙값
print(int(df['views'].median()))

5924

#### 카테고리, 인덱스, 문자열 슬라이싱

In [15]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

In [16]:
# 1. subscribed 컬럼에서 가장 빈도수가 많은 날짜를 구하시오
# 2. 앞에서 구한 날짜의 일(day) 값을 정수로 구하시오

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       116 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB

In [ ]:
# df['subscribed'].max() -> 틀린 거임. 문자열은 가장 뒤에 있는 문자열 반환하고, 날짜이면 가장 최신임. 이번에는 우연하게 맞아떨어진거임임

'2025-02-17'

In [22]:
int(df['subscribed'].max()[-2:])

17

In [23]:
df['subscribed'].value_counts()

2025-02-17    16
2024-06-21     3
2024-04-03     2
2024-07-29     2
2024-05-28     2
              ..
2024-07-08     1
2024-07-20     1
2024-06-10     1
2024-02-01     1
2024-05-20     1
Name: subscribed, Length: 96, dtype: int64

#### 파생변수, 정렬, 인덱싱

In [25]:
import pandas as pd
df = df.copy()

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       116 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB

In [31]:
# 1. 결측치가 있는 데이터(행)을 제거
# 2. views 컬럼을 f1 컬럼으로 나눈 값을 새로운 컬럼으로 추가
# 3. 새로운 컬럼 값 중 가장 큰 값을 가진 행의 age를 정수로 구하기

df.dropna(inplace=True)

df['new'] = df['views'] / df['f1']

print(df['new'].max())

423.7826086956522

In [37]:
int(df[df['new'] == df['new'].max()]['age'])

22

In [38]:
# 풀이
df = df.dropna()
df['new'] = df['views']/df['f1']
df = df.sort_values('new', ascending=False)
int(df.iloc[0,1])

22

#### 값 변경, 정렬, 합계

In [40]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

In [64]:
# 1. views 컬럼의 결측 데이터를 0으로 대체
df['views'] = df['views'].fillna(0)
# 2. view 컬럼에서 상위 10번째 값 구하기 (빈도수 상위겠죠?)
print(df['views'].sort_values(ascending=False).iloc[9]) # 10번째
df = df.sort_values('views', ascending=False)
view_max_10 = df['views'].sort_values(ascending=False).iloc[9]

9877.0

In [ ]:
# 3. views 컬럼에서 상위 10개의 값을 10번째 값으로 대체
df.iloc[:10, -1] = view_max_10 # -1은 컬럼의 순서를 의미함함

In [75]:
# 4. views 컬럼의 전체 합을 정수로 구하기
int(sum(df['views']))

652812

In [ ]:
# 다른 방법으로 nlargest를 사용 -> 가장 큰 값 10개를 반환함함
df['views'].nlargest(10).iloc[-1] # 10번째를 가져오기 위해 -1을 사요함
df.loc[df['views']>value,'views'] = value # loc는 조건을 사용할 수 있음. 10번째보다 큰 값은 그 값으로 대체함함

9877.0

#### 문자열 슬라이싱, 파생변수, 평균값

In [78]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part1/ch3/type1_data1.csv")

In [86]:
# 1. 'f4' 컬럼 데이터에 'FJ'가 포함된 데이터 찾기
df[df['f4'].str.contains('FJ')]
# 2. 찾은 데이터 중 f2 컬럼의 평균값 구하기 반올림 후 소수 둘째 자리리 
round(df[df['f4'].str.contains('FJ')]['f2'].mean(),2)

0.61

#### 필터링, 분산

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          120 non-null    object
 1   age         120 non-null    float64
 2   city        120 non-null    object
 3   f1          89 non-null     float64
 4   f2          120 non-null    int64
 5   f3          91 non-null     object
 6   f4          120 non-null    object
 7   f5          120 non-null    float64
 8   subscribed  120 non-null    object
 9   views       116 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 9.5+ KB

In [97]:
# 1. f3 컬럼이 gold면서 f2 컬럼이 2인 데이터 찾기
df[(df['f3'] == 'gold') & (df['f2']==2)]
# 2. 찾은 데이터에서 f1 컬럼의 분산을 구하기, 반올림 후 소수 둘째자리
round(df[(df['f3'] == 'gold') & (df['f2']==2)]['f1'].var(), 2)

235.43

#### 값 변경(연산), 필터링 절댓값(abs!!!!!!)

In [98]:
# 1. 모든 나이에 1을 더하기
# 2. 20대의 views 평균과 30대의 views 평균의 절댓값 차이. 소수점 둘째자리까지
df['age'] = df['age']+1

In [103]:
round(abs(df[(df['age'] >= 20) & (df['age'] < 30)]['views'].mean() - df[(df['age'] >= 30) & (df['age'] < 40)]['views'].mean()), 2)

263.13

#### 시계열 데이터, 필터링, 데이터 개수